.services_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    margin: 30px;

}

@media only screen and (max-width: 576px){
    .services_container{
        grid-template-columns: repeat(1,1fr);
    }


}
@media only screen and (min-width: 576px) and (max-width:992px){
    .services_container{
        grid-template-columns: repeat(2,1fr);
    }
    .header{
        grid-template-columns: repeat(1,1fr);
    }


}
/* @media only screen and (max-width: 576px){
    .services_container{
        grid-template-columns: repeat(1,1fr);
    }


} */